:root {
    --background-color: #14213D;
    --Text-primary:#FCA311;
    --Text-secondary: #E5E5E5;
    
}
body {
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
    background-color: var(--background-color);
}
header {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Text-primary)
}
.identity {
    background-color: bisque;
    display: flex;
    align-items: center;   
}
.name {
    background-color: lightpink;
}

.player-name {
    
}
main {
    color: var(--Text-secondary);
}
.item-box {
    background-color: lightblue;
    display: flex;
}